body {
  top: 0;
  left: 0;
  width: 99%;
  height: 97%;
  position: absolute;
  display: flex;
}

.pfp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}
.desc {
  text-align: center;
  max-width: 800px;
  width: 100%;
  margin: auto;
}
p {
  display: table-cell;
  vertical-align: middle;
  text-align: justify;
}
